[submodule "3rdparty/llama.cpp"]
	path = 3rdparty/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
	branch = master
[submodule "3rdparty/bitnet-official"]
	path = 3rdparty/bitnet-official
	url = https://github.com/microsoft/BitNet.git
